#wrapper {
  width: 800px;
  margin: auto;
  background-color: white;
  padding-left: 10px;
}

body {
  margin-left: 20px;
  background-color: lightgray;
}

#main-title a {
  text-decoration: none;
  font-size: 2em;
  color: gray;
}

.menu-list ul {
  padding: 0;
  margin-left: 0;
  list-style-type: none;
}

.hidden {
  display: none;

}

.new-menu {
  margin-bottom: 10;
}

.menu-form {
  margin-top: 10;
}

.detail-form {
  display: none;
}